body {
    background-image: url('background-image1.jpeg');
}


#quote-box {
    color: rgb(140, 77, 154);
    margin: auto;
    width: 550px;
    background-color: white;
    margin-top: 100px;
    border-radius: 15px;
    position: relative;
    opacity: 90%;
}

#author::before {
    content: "- ";
}

#text{
    margin: 15px;
    padding: 25px;
    width: 450px;
    height: auto;
    font-family: quicksand;
    font-size: 30px;
    text-align: center;
    font-weight: 400;
}
#author {
    margin-left: 300px;
    margin-right: 30px;
    font-size: 20px;
    padding-top: 20px;
    height: auto;
    font-weight: lighter;
}

button {
    padding: 7px;
    margin-bottom: 20px;
   
}
#tweet-quote {
    margin-left: 35px;
    margin-top: 40px;
}

#new-quote {
    background-color: rgb(41, 103, 229);
    color: white;
    border: 1px solid rgb(116, 116, 142);
    border-radius: 4px;
    cursor: pointer;
    margin-left: 290px;
}

#new-quote:hover {
    background-color: rgb(18, 56, 133);
}

#facebook-quote {
    width: 30px;
    background-color:#3b5998 ;
    border: 0;
    margin-left: 5px;
}

#tweet-quote {
    background-color: #00acee;
    border: 0;
    width: 30px;
}

.facebook {   
    color: white;  
}         
.twitter {   
    color: white;   
}

#facebook-quote:hover {
  background-color: #2f4063;
  cursor: pointer;
}
#tweet-quote:hover {
    background-color: #157ca5;
    cursor: pointer;
}
